:root {
	--main-color: #1d3557;
	--main-color-hover: #457b9d;
	--main-color-text: white;
	--main-buttons-background-color: #3b5e6f;
	--main-buttons-text-color: white;
	--main-buttons-background-color-hover: #5b89a0;
	--secondary-color: #e63946;
	--secondary-color-hover: #a8dadc;
	--secondary-color-text: white;
	--canvas-default-bg-color: lightgrey;
}

body { 
	margin: 0; 
    background-size: cover;
	overflow: hidden; 
}

canvas { 
	display: block; 
	overflow: hidden; 
}

#scene { 
	overflow: hidden; 
}

div { 
	user-select: none; 
}